<div>
    <p> <b>Current folder path:</b> {{curFoldFilesCountPath}}  </p>   
         <table class="table_style">
            <tr >
                <th class = "th_count" ng-repeat="(key, value) in FolderFilesCount">
                    {{key}}
                </th>
            </tr>
            <tr >
                <td class = "td_count" ng-repeat="(key, value) in FolderFilesCount">
                    {{value}}
                </td>

            </tr>
        </table>
    <br />
    <a href="#/"> Back </a>
</div>
